
#recipeSection {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    width: fit-content;
    justify-content: center;
    /* column-count: 2; */
    margin: 10px auto;
    
    /* justify-content: space-evenly; */
    /* justify-content:  */
    /* flex-direction: column; */
    /* align-items: center; */
}

.buttonGroup {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    /* width: 150px; */
}

h2 {
    font-weight: bolder;
}

.imgsize {
    border: 2px solid #8dc73f;
    border-radius: 15px;
    margin-top: 20px;
    width: 300px;
    height: 200px;
}

.single-recipe {
    /* background-color: #8dc73f; */
    margin: 10px;
    width: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border: 4px solid #8dc73f;
    border-radius: 20px;

    align-items: center;
}

.cardButton {
    background-color: #8dc73f;
    border-radius: 15px;
    margin: 10px;
    height: 30px;
    width: 100px;
    text-align: center;
    align-items: center;
}

:root {
    --primary-color: #8dc73f;
}

.hide {
    display: none;
}