
#recipeSection {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    width: fit-content;
    justify-content: center;
    /* column-count: 2; */
    margin: 10px auto;
    
    /* justify-content: space-evenly; */
    /* justify-content:  */
    /* flex-direction: column; */
    /* align-items: center; */
}


.imgsize {
    width: 400px;
    height: 350px;
}

.single-recipe {
    
    margin: 10px;
    width: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    align-items: center;
}

button {
    height: 10px;
    width: 30px;
    text-align: center;
    align-items: center;
}

:root {
    --primary-color: #50c557;

.hide {
    display: none;
}